.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ch-top-blue-nav {
  background-color: #36286b;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ch-top-blue-nav > div {
  font-weight: bold;
  color: white;
}
.ch-img-cls {
  display: flex;
}
.ch-img {
  width: 50%;
}
.ch-img > img {
  width: 100%;
}
.ch-btn-cls {
  width: 50%;
  padding: 30px;
  margin-top: 20px;
  display: block;
}
.ch-btn-one {
  float: right;
}
.ch-btn-two {
  margin-top: 200px;
  margin-left: 50px;
  float: center;
  width: 500px;
}
.ch-btn-two > h1 {
  font-size: 38px;
}
.ch-btn-two > input {
  height: 30px;
  width: 350px;
}
.ch-btn-two > button {
  height: 35px;
  width: 120px;
  margin-left: 20px;
  background-color: #0070eb;
  color: white;
  font-weight: bold;
  border: none;
}
.ch-btn-link {
  margin-right: 20px;
  text-decoration: none;
  color: #0070eb;
  font-weight: bold;
  font-size: 20px;
}
.ch-lst > img {
  width: 100%;
}
.autocomplete {
  max-height: 150px;
}
.restaurant_data{
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap : 2%;
  margin-left: 5%;
  
  
}
.restaurant_data1{
  margin-bottom: 15%;
}
.restaurant_data .resto{
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  border-radius: 4px;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
 
  box-shadow: 0.5px 0.5px 0.5px 1px #bcbcce;

}
.restaurant_data .resto:hover{
  cursor:pointer;
  border: 0.2px solid #6d7a94;


}
.restaurant_data .resto .charges, .location, .rating, .flag, .category, .distance{
  
  font-family: "ubuntu";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.45
}
.restaurant_data img {
  width: 100%;
  height: 150px;
}
.restaurant_data .title{
  
  margin-left: 5%;
}
.restaurant_data .charges{
  
  margin-left: 5%;
}
.gh img {
  width: 30px;
  margin-left: 5%;
  margin-top: -60px;
  padding: 0;
}
.resto .category {
  

 margin-left: 5%;
 
}

.resto .location {
  margin-left: 5%;
 margin-top: -50px;
  


 
  
}
.resto .distance {
  margin-left: 5%;
  
}
.resto .rating {
  margin-left: 50%;
  margin-bottom: 50px;
  
}
.heading{
  margin-left: 5%;
}
.flag img {
  width: 40px;
  margin-top: -50px;
  vertical-align: -70px;
  margin-left: 5%;
  padding-top: -500px;
  
}
.distance{
  vertical-align: 0;
}
.star {
color: #F9A825;
font-size: 16px;
}

.more{
  
 margin-left: 40%;
 background-color: blue;
 color:whitesmoke;
 padding: 10px 50px;
 border: none;
 bottom: 25%;
 font-size: 18px;
 margin-bottom: 10%;
}

.cards img{
  width: 500px;
  margin-left: 50%;
}
.flex{
  display: flex;
 
  
 
}
.left-side {
  margin-left: 5%;
  
}
.left-side button{
  margin-left: 10%;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: blue;
  color: whitesmoke;
  cursor: pointer;
}
.grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-left: 5%;
  grid-gap: 1%
}
li {
  list-style: none;
  color: white;
  text-decoration: underline;
  margin-left: -5%;
}
.footer{
  background-color: #651FFF;
  padding: 20px;
  margin-top: 50px;
}
.grid h3{
  color: whitesmoke;
  margin-left: 10%;
}
.end {
  display: flex;
}
.line{
  border: 1px solid whitesmoke;
}
.box li{
  width: 200px;
  border: 1px solid whitesmoke;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.petent{
  color: whitesmoke;
}

li:hover{
  color:#282c34;
  cursor: pointer;
}
.ended{
 margin-left: 30%;
 
}
.yet{
  margin-left: 10%;
}

.merg {
  margin-bottom: 25px;
}
.btn{
  margin-top: 100px;
}
.btn button{
  margin-top: 10%;
  margin-left: 40%;
  background-color: blue;
  color:whitesmoke;
  padding: 10px 50px;
  border: none;
  font-size: 18px;
  margin-bottom: 100px;
}
.ancr{
  text-decoration: none;
  color: #6d7a94;
}
.ancr h3{
  color: black;
}
.ancr h2{
  color: black;
}
.margin{
  margin: 50px auto;
}